:root {
  --green-title: #199b63;
  --yellow-sfondo: #ffd26d;
  --blue-text: #2265cf;
  --gray-muted: #6b7280;
  --hover-color: white;
  --footer-back: #1f1f1f;
}

.link {
  &:hover {
    /* text-decoration: underline; */
    color: var(--hover-color);
  }
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
