:root {
  --ciao: "red";
  --mid-color: #beb7a4;
  --primary-color: #000;
  --secondary-color: #e3f2fd;
  --hover-color: gray;

  --gradient-primary: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --gradient-sunset: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);

  --hover-color: gold;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}
