:root {
  --ciao: "red";
  --mid-color: #beb7a4;
  --primary-color: #000;
  --secondary-color: #e3f2fd;
  --hover-color: gray;

  --gradient-primary: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --gradient-sunset: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);

  --hover-color: gold;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
